.thomas{
    margin-top: 100px;
            display: flex;
            padding-left: 400px;
            margin-left: 50px;
            margin-block-end: -150px ;
    
    
}

.pedro{
    margin-top: 100px;
            display: flex;
            padding-left: 400px;
            margin-left: 50px;
            margin-block-end: -150px ;
}

.jorge{
    margin-top: 100px;
            display: flex;
            padding-left: 400px;
            margin-left: 50px;
            margin-block-end: -150px ;
}